# ===============================
# DATABASE
# ===============================
DB_URL=jdbc:sqlserver://localhost:1433;databaseName=webst3;encrypt=false;trustServerCertificate=true
DB_USERNAME=sa
DB_PASSWORD=YOUR_SQL_SERVER_PASSWORD
DDL_AUTO=update
SHOW_SQL=false

# ===============================
# SERVER
# ===============================
SERVER_PORT=8082

# ===============================
# SAMPLE ADMIN
# ===============================
ADMIN_USERNAME=admin
ADMIN_EMAIL=admin@ute.edu.vn
ADMIN_PASSWORD=123456

# ===============================
# SMTP GMAIL
# false: OTP in console for first test
# true : send OTP by real email
# ===============================
MAIL_ENABLED=false
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=your_email@gmail.com
MAIL_PASSWORD=your_16_char_gmail_app_password

# ===============================
# CLOUDINARY
# ===============================
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
