DB_URL=jdbc:sqlserver://localhost:1433;databaseName=webst4;encrypt=false;trustServerCertificate=true
DB_USERNAME=sa
DB_PASSWORD=YOUR_SQL_SERVER_PASSWORD
SERVER_PORT=8080
ADMIN_EMAIL=admin@ute.edu.vn
ADMIN_PASSWORD=123456
